html {
  background-color: #15282b;
  color: #fff;
}

body {
  font-family: sans-serif;
  padding: 5%;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.2em;
}

#notes {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #fff;
  width:100%;
  word-wrap: break-word;
}

.keys {
  display: flex;
  flex-direction: column;
  margin: 12% 0;
}

.line {
  display: flex;
  justify-content: center;
}

.key {
  background:rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0.5em;
  padding: 5px 10px;
  width: 40px;
  height: 65px;
  text-align: center;
  transition: all 0.5s;
}

.playing {
  transform: scale(1.05);
  border-color: #64BCCC;
  box-shadow: 0 0 10px #64BCCC;
}

kbd {
  display: block;
  font-size: 35px;
  margin: 2px;
  text-shadow: 0 0 2px #fff;
}

.sound {
  color: #64BCCC;
  font-size: 0.9em;
  font-weight: lighter;
}

.spacebar {
  background:rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0.5em;
  padding: 5px 10px;
  width: 280px;
  height: 65px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s;
}
